//< " ПОДКЛЮЧАЕМ ФАЙЛ С ШРИФТАМИ " >=============================================================================================================>//
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&family=Maven+Pro:wght@600&family=Roboto:wght@700&display=swap');
// 01
/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// 02
/* Webfont: Lato-Semibold */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

// 03
/* Webfont: Lato-Medium */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

// 04
/* Webfont: Lato-Bold */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}


// 05
/* Webfont: Lato-Heavy */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}


// 06
/* Webfont: Lato-Black */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

// 07
