//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1146;
$containerPadding: 48;

// ЦВЕТА
$colorWhite: #fff;
$colorBlack: rgba(0, 0, 0, 0.8);
$colorDark: #000;
$colorBrown: #B67659;
$colorGrayBlue: #898A92;
$colorGrayWhite: #ffffff80;
$colorGray:rgba(138, 138, 138, 1);

// СТАНДАРТНЫЕ НАСТРОЙКИ СТРАНИЦЫ
$colorBg: #fff;
$fontLato: "Lato";
$fontRoboto: 'Roboto', sans-serif;
$fontAlegreya: 'Alegreya', serif;
$fontMavenPro: 'Maven Pro', serif;