//< " ФАЙЛ СТИЛЕЙ ФУТЕРА " >=============================================================================================================>//

.footer{
  background: #101820;

  &__body{
    display:flex;
    flex-direction:column;
    @include adaptiv-value(padding-top, 78, 50, 1);
    @include adaptiv-value(padding-bottom, 46, 10, 1);
  }
  &__top{
    display: flex;
    justify-content: space-between;
    @include adaptiv-value(margin-bottom, 105, 50, 1);
    align-items: center;
  }
  &__title{
    font-weight: 700;
    @include adaptiv-font(42, 24);
    @include adaptiv-line-height(52, 30);
    color: #FDFDFD;
    width: 100%;
    max-width: 420px;
    @include adaptiv-value(margin-left, 34, 0, 1);
  }
  &__form{
    display: flex;
    background: #fff;
    padding: 4px;
    @include adaptiv-value(padding-left, 21, 10, 1);
    color: #000;
  }
  &__input{
    @include adaptiv-font(16, 15);
    line-height: 160%;
    font-weight: 400;
    width: 100%;
  }
  &__submit{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FBFBFB;
    padding: 0 25px;
    @include adaptiv-value(padding-top, 11, 6, 1);
    @include adaptiv-value(padding-bottom, 11, 6, 1);
    @extend %button;
    color: #FBFBFB;
  }
  &__middle{  
    @include adaptiv-value(padding-bottom, 60, 40, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    font-weight: 900;
    font-size: 26px;
    line-height: 31px;
    color: #fff;
    margin-bottom: 31px;
  }
  &__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    width: 100%;
    max-width: 207px;
  }
  &__network{
    display: flex;
    column-gap: 20px;
  }
  &__net{
    color: #fff;
    background: #1A242E;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.08);
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    @media (any-hover:hover){
      cursor: pointer;
      transition: all 0.3s ease 0s;
    &:hover{
      background: #B67659;
    }
    }
  }
  &__col{
    display:flex;
    flex-direction:column;
    @include adaptiv-value-width(margin-bottom, 16, 0, 840, 1);
  }
  &__nav-title{
    font-weight: 400;
    @include adaptiv-font(18, 16);
    @include adaptiv-line-height(29, 26);
    display: flex;
    color: #fff;
    @media (max-width: 840px){
      &::before{
        content: url('../img/footer/arrow.png');
        margin-right: 16px;
        transition: all 0.4s ease 0s;
      }
      &._active::before{
        transform: rotate(90deg);
      }
    }
  }
  &__list{
    flex-direction:column;
    margin-top: 12px;
    display: flex;
  }
  @media (min-width: 840px){
    .footer__col{display: flex;}
  }
  &__li{
    font-weight: 400;
    font-size: 14px;
    line-height: 220%;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.8;
    @media (any-hover:hover){
      cursor: pointer;
      transition: all 0.3s ease 0s;
    &:hover{
      opacity: 1;
      color: #fff;
    }
    }
  }
  
  &__bottom{
    @include adaptiv-value(padding-top, 38, 10, 1);
    display: flex;
    justify-content: space-between;
  }
  &__right{
    font-weight: 500;
    @include adaptiv-font(14, 12);
    @include adaptiv-line-height(31, 26);
    color: #fff;
    opacity: 0.8;
  }
  &__companies{
    display: flex;
    @include adaptiv-value(column-gap, 60, 0, 1);
  }
  &__company{
    font-weight: 400;
    font-size: 14px;
    line-height: 220%;
    color: #fff;
    opacity: 0.8;
    @media (any-hover:hover){
      cursor: pointer;
      transition: all 0.3s ease 0s;
    &:hover{
      opacity: 1;
    }
    }
  }
  @media (max-width: 840px){
    &__companies{
      display: none;
    } 
    &__middle{
      flex-direction: column;
    }
    &__top{
      margin-top: 40px;
      flex-direction: column;
      align-items: start;
    }
    &__title{
      max-width: 100%;
      margin-bottom: 24px;
      margin-left: 0;
    }
    &__list{
      margin-bottom: 24px;
    }
    &__bottom{
      justify-content: center;
    }
    &__right{
      color: rgba(255, 255, 255, 0.5);
    }
  }
}