.main{
  background: url('../img/main/background.png') 0 0/cover no-repeat;
  @include adaptiv-value(padding-top, 142, 128, 1);
  @include adaptiv-value(padding-bottom, 225, 135, 1);
  overflow: hidden;
  position: relative;
  z-index: 0;
  

  &::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    @include adaptiv-value(width, 1456, 450, 1);
    @include adaptiv-value(height, 1456, 450, 1);
    background: #B67659;
    filter: blur(400px);
    z-index: -1;
    bottom: -188px;
    @include adaptiv-value(bottom, -735, -102, 1);
    @include adaptiv-value(right, -426, -192, 1);
    @media(max-width: 550px){
        filter: blur(200px);
    }
  }

  &__body{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 0;
  }
  &__left{
    width: 50%;
    max-width: 478px;
    @include adaptiv-value(margin-top, 100, 0, 1);
    position: relative;
    z-index: 5;
    margin-bottom: 141px;
    @include adaptiv-value-width(margin-bottom, 420, 260, 992, 1);
  }
  &__right{
    width: 50%;
    position: relative;
  }
  &__title{
    font-weight: 800;
    @include adaptiv-font(50,30);
    @include adaptiv-line-height(70, 42);
    @include adaptiv-value(margin-bottom, 24, 20, 1);
    color: $colorWhite;
    position: relative;
    &::before{
      content: url('../img/main/text.png');
      position: absolute;
      top: 0;
      left: 28%;
      transform: translateY(-65%);
    }
  }
  &__description{
    font-weight: 400; 
    @include adaptiv-font(18, 16);
    @include adaptiv-line-height(29, 26);
    color: $colorWhite;
    @include adaptiv-value(margin-bottom, 30, 24, 1);
    position: relative;
    &::before{
      content: "";
    width: 100%;  
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(20px);
    background-color: #1a1d24;
    transition: opacity 0.3s ease 0s;
    opacity: 0;
    @media (min-width: 992px) and (max-width: 1080px){
      opacity: 1;
    }
    }
  }
  &__buttons{
    display: flex;
    @include adaptiv-value(column-gap, 32, 18, 0);
  }
  &__start{
    @extend %button;
    font-weight: 500;
    @include adaptiv-font(18, 14);
    @include adaptiv-line-height(29, 22);
    padding: 16.5px 30px;
    @include adaptiv-value(padding-top, 16.5, 6, 1);
    @include adaptiv-value(padding-bottom, 16.5, 6, 1);
    @include adaptiv-value(padding-left, 30, 20, 1);
    @include adaptiv-value(padding-right, 30, 20, 1);

  }
  &__see{
    display: flex;
    align-items: center;
    font-weight: 400;
    @include adaptiv-font(18, 14);
    @include adaptiv-line-height(29, 22);
    color: $colorWhite;
    @include adaptiv-value(column-gap, 7, 6, 0);
    background: transparent;

    @media (any-hover:hover){
      cursor: pointer;
      transition: all 0.3s ease 0s;
    &:hover{
      & .main__button-icon{
        transform: translateY(1px);
        border-color: $colorBrown;
      }
    }
    }
  }
  &__button-icon{
    @include adaptiv-value(width, 40, 24, 1);
    @include adaptiv-value(height, 40, 24, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiv-value(padding, 12, 7, 1);
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    transition: all 0.4s ease 0s;
    img{
      @include adaptiv-value(width, 16, 10 , 1);
    }
  }
  &__woman{
    transform: translate(-5%, );
    position: absolute;
    right: 5%;
    bottom: -11%;
    @media (max-width: #{$maxWidthContainer + px}){
      right: 4%;
      & img{
        // width: 100%;
      }
    }
    @media (max-width: 992px){
      display: none;
    }
  }

  &__arrow{
    position: absolute;
    right: 0;
    // top: 60%;
    // top: 400px;
    // @include adaptiv-value(top, 400, 100, 1);
    top: 50%;
    transform: translate(40%,-50%);
    @include adaptiv-value-width(top, -200, -125, 992, 1);
    @include adaptiv-value(max-width, 183, 103, 1);
  
    & img{
      width: 100%;
    }
  }
  

  @media (max-width: 992px){
    &__body{
      flex-direction: column;
      align-items: center;
    }
    &__left, &__right{
      width: 100%;
      max-width: 100%;
      display:flex;
      flex-direction:column;
      align-items: center;
    } 
    &__right{
      padding: 0 20px;
      max-width: 423px;
    }
    &__woman{
      position: static;
    }

  }
  @media (max-width: 745px){
    padding-bottom: 39%;
    background: rgba(16, 24, 32, 1) ;
  }
  @media (max-width: 550px){
    &__arrow{
      transform: translate(20%, -80%);
    }
  }
}