.quality {
  background: #F9F9F9;
  overflow: hidden;
  // .quality__body

  &__body {
    display: flex;
    justify-content: space-between;
    @include adaptiv-value(padding-top, 355, 240, 1);
    // align-items: center;
    column-gap: 46px;
    

  }

  &__left, &__right{
    width: 100%;
  }
  // .quality__left

  &__left {
    position: relative;
    display: flex;
    align-items: end;
    &::before{
      content: '';
      background: url('../img/quality/before.png') no-repeat;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 396px;
      height: 261px;
      @media (max-width: 860px){
        display: none;
      }
    }
    &::after{
      content: '';
      background: url('../img/quality/after.png') 0 0/cover no-repeat;
      position: absolute;
      top: 0;
      left: 50px;
      z-index: 1;
      width: 368px;
      height: 414px;
    }
  }

  // .quality__woman

  &__woman {
    position: relative;
    z-index: 3;
    margin-left: 50px;

    @media (max-width: 1146px){
      width: 100%;
    }


  }

  // .quality__right

  &__right {
    display:flex;
    flex-direction:column;
    align-self: center;
    position: relative;
    z-index: 5;
    @include adaptiv-value(margin-bottom, 46, 32, 1);
  }


  // .quality__title

  &__title {
    font-weight: 800;
    @include adaptiv-font(42, 24);
    @include adaptiv-line-height(59, 29);
    color: #000;
    @include adaptiv-value(margin-bottom, 26, 24, 1);
    position: relative;
    @media (max-width: 420px){
      font-weight: 700;
    }

    &::before{
      content: '';
      position: absolute;
      background:#020048;
      height: 2px;
      @include adaptiv-value(width, 54, 40, 1);
      top: -17px;
      left: 0;
    }
  }

  // .quality__subtitle

  &__subtitle {
    font-weight: 600;
    font-size: 24px;
    @include adaptiv-font(24, 14);
    @include adaptiv-line-height(38, 22);
    color: #000;
    @include adaptiv-value(margin-bottom, 20, 24, 1);
  }

  // .quality__description

  &__description {
    font-weight: 400;
    @include adaptiv-font(18, 14);
    @include adaptiv-line-height(29, 22);
    color: #000;
    @include adaptiv-value(margin-bottom, 38, 24, 1);
  }

  &__checkboxs{
    display: grid;
    grid-template-columns: repeat(2, 170px);
    @include adaptiv-value(column-gap, 100, 10, 1);
    @include adaptiv-value(row-gap, 20, 8, 1);
  }

  &__checkbox{
    font-weight: 400;
    @include adaptiv-font(18, 14);
    @include adaptiv-line-height(29, 22);
    color: #000;
    display: flex;
    align-items: center;
    column-gap: 15px;
    @include adaptiv-value(column-gap, 15, 10, 1);
    span{
      display: inline-block;
      height: 18px;
      width: 18px;
      border: 2px solid $colorBrown;
      border-radius: 5px;
      position: relative;

      &::after{
        content: '';
        width: 6px;
        height: 8px;
        border: 2px solid $colorBrown;
        display: block;
        position: absolute;
        top: calc(50% - 1px);
        border-radius: 1px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        border-width: 0 2px 2px 0;
        opacity: 0;
        transition: all 0.2s ease 0s;
      }
      
      &.active{
        &::after{
          opacity: 1;
        }
      }
    }
  }


  @media (max-width: 880px){
    &__body{
      flex-direction: column-reverse;
      align-items: center;
    }
    &__left, &__right{
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    &__right{
      margin-bottom: 32px;
    }
    &__left::after{
      left: auto;
    }
    &__woman{
      width: auto;  
    }
  }
  @media (max-width: 600px){
    &__woman{
      width: 100%;
    }
    &__left::after{
      width: 263px;
      height: 296px;
    }
    &__checkboxs{
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
    }
  }
}
